@{
    ViewData["Title"] = "EXAMEN P1";
}

<div class="text-center">
    <h1 class="display-4">BENVENIDO A MI EXAMEN</h1>
    <p>QUE CREES QUE HAYA AQUI -------->  <a href="https://youtu.be/NUteQQCMa_k?si=E51hcWl9sS6naIM_">DALE ENTRA AL LINK</a>.</p>
   <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3ctB6aBaUg0?si=SBSJNTtA23-LvRuD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   </div>
   
    <label>Disculpe si es mal educado profe es sin animo de molestar solo me gusta jugar con los links</label>
    <label>La de arriba es mi cancion fav de nicki nicole</label>
</div>
